<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CAN I HAZ DOUGHNAZIONZ?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/donar/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/css/donar/bootstrap-responsive.css" media="screen">
	<link rel="stylesheet" href="/css/donar/donar.css" media="screen">
	{{#reload}}
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/reload-client.js"></script>
	{{/reload}}
</head>
<body>
<div class="container">
	<div class="masthead">
		<h3 class="muted">PABLO Y VICTORIA</h3>
		<hr>
	</div>
	<div class="row">
		<section class="span7">
			<div class="significant">
				<h1 class="pull-left">I've found
					<span class="pull-right">my significant otter.</span>
				</h1>
			</div>
			<div class="kids">
				<h1 class="pull-left">Now help us 
					<span class="pull-right">raise the kids.</span>
				</h1>
			</div>
		</section>
		<aside class="span5">
			<p>Como muchos saben nos casamos </p>
		</aside>
	</div>

</div>
</body>
</html>