aside {

}

h1 span {
	font-size: 1.2em;
	display: block;
}

header h3 {
	font-weight: bold;
}

.kids {
	margin: 0 auto;
	width: 500px;

	h1 {
		background: transparent url(/images/donar/mother-otter-holds-baby.jpg) no-repeat;
		color: white;
		height: 351px;
		padding-top: 15px;
		text-shadow: 1px 1px 7px rgba(0,0,0,1);
		width: 500px;
	}
}

.significant {
	margin: 0 auto;
	width: 500px;

	h1 {
		background: transparent url(/images/donar/sig_otter.jpg) no-repeat;
		color: white;
		height: 351px;
		padding-top: 15px;
		text-shadow: 1px 1px 7px rgba(0,0,0,1);
		width: 500px;
	}
}

